{% extends 'student_dashboard_templates/student_base.html' %}

{% block content %}
<body style="background-color: #000435; color: white;">
<div class="container mt-3">
    <h1 class="text-center mb-4">Payments</h1>
    <h2 class="text-left mb-4" style="font-size: 1.45rem; font-weight: 500; color: white;">
        <i class="bi bi-cash-coin" style="font-size: 1.4rem; margin-right: 10px; color: white;"></i> Your Due Payments
    </h2>
    <div class="container mt-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="background-color: white; color: #333;">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Invoice #</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">No. of Classes</th>
                                    <th scope="col">Price per Class</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices %}
                                <tr style="background-color: white; color: #333;">
                                    <td>{{ invoice.orderNo }}</td>
                                    <td>{{ invoice.topic }}</td>
                                    <td>{{ invoice.no_of_classes }}</td>
                                    <td>{{ invoice.price_per_class }}</td>
                                    <td>{{ invoice.sum }}</td>
                                    <td>{{ invoice.get_status_display }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
