{% extends 'base_content.html' %}
{% block content %}

<h1>Tutors</h1>
<table class="table table-striped table-dark table-hover" style="width:70%; margin-left:auto; margin-right:auto" >
  <thead>
    <tr>
      <th scope="col" width="30">#</th>
      <th scope="col">Tutor name: </th>
      <th scope="col">Lesson: </th>
      <th scope="col">Bio: </th>
      <th scope="col">Diploma </th>
      <th scope="col">Ratings: </th>
      <th scope="col">Price: </th>
    </tr>
  </thead>
  <tbody>
    
    {% for tutor in tutors %}
    <tr>
        <!--  ID Column -->
        <td>#</td>
        <!-- Book Details Column -->
        <td>
            {{ tutor.username }} ({{ tutor.first_name }}) "<i>{{ tutor.first_name }}</i>"
        </td>
        <!-- Actions Column -->
        <td>
            <a href="{% url 'get_book' book.id %}" class="btn btn-primary btn-sm">
                <i class="bi bi-eye"></i> <!-- Eye icon for Show -->
            </a>
            <a href="{% url 'update_book' book.id %}" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil"></i> <!-- Pencil icon for Edit -->
            </a>
            <a href="{% url 'delete_book' book.id %}" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> <!-- Trash icon for Delete -->
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h1>Student</h1>
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">skill level: </th>
      <th scope="col">Lesson requests: </th>
      <th scope="col">Rates: </th>
      <th scope="col">(Other) Special requests: </th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
        <!--  ID Column -->
        <td>#</td>
        <!-- Book Details Column -->
        <td>
            {{ student.username }} ({{ student.first_name }}) "<i>{{ student.first_name }}</i>"
        </td>
        <!-- Actions Column -->
        <td>
            <a href="{% url 'get_book' book.id %}" class="btn btn-primary btn-sm">
                <i class="bi bi-eye"></i> <!-- Eye icon for Show -->
            </a>
            <a href="{% url 'update_book' book.id %}" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil"></i> <!-- Pencil icon for Edit -->
            </a>
            <a href="{% url 'delete_book' book.id %}" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> <!-- Trash icon for Delete -->
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>


<h1>Payments</h1>
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">From: </th>
      <th scope="col">To: </th>
      <th scope="col">Amount: </th>
      <th scope="col">Outstanding: </th>
      <th scope="col">Note: </th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
    <tr>
        <!--  ID Column -->
        <td>#</td>
        <!-- Book Details Column -->
        <td>
            {{ payment.from_user }} ({{ payment.to_tutor }}) "<i>{{ payment.amount }}</i>"
        </td>
        <!-- Actions Column -->
        <td>
            <a href="{% url 'get_book' book.id %}" class="btn btn-primary btn-sm">
                <i class="bi bi-eye"></i> <!-- Eye icon for Show -->
            </a>
            <a href="{% url 'update_book' book.id %}" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil"></i> <!-- Pencil icon for Edit -->
            </a>
            <a href="{% url 'delete_book' book.id %}" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> <!-- Trash icon for Delete -->
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>



<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
  </div>
</div> -->
{% endblock %}