{% extends 'admin_base.html' %}
{% block content %}
    <div class="container mt-10">
        <h1 class="text-center mb-4">Lessons</h1>
        <h2 class="text-left mb-4 text-primary" style="font-size: 1.45rem; font-weight: 500;">
            <i class="bi bi-book-fill" style="font-size: 1.4rem; margin-right: 10px;"></i> Your upcoming lessons
        </h2>
        
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">ID</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Date</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">John</th>
                        <td>12345</td>
                        <td>Java</td>
                        <td>15/10/2024</td>
                        <td>abc</td>
                    </tr>
                    <tr>
                        <th scope="row">Jane</th>
                        <td>654321</td>
                        <td>Python</td>
                        <td>21/09/2024</td>
                        <td>def</td>
                    </tr>
                    <tr>
                        <th scope="row">Larry</th>
                        <td>67890</td>
                        <td>Django</td>
                        <td>01/12/2024</td>
                        <td>ghi</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
