{% extends 'admin_base.html' %}
{% block content %}
<html lang="en">
<head>
    <style>
     
        .welcome-section {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #007bff, #6f42c1); 
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="welcome-section">
        <div class="container">
            <h1 class="display-3 mb-4">Welcome to Code Tutors!</h1>
            <p class="lead mb-4"> Proceed here</p>
            <a href="{% url 'admin_dashboard' %}" class="btn btn-lg btn-light">Get Started</a>
        </div>
    </div>
</body>
</html>

{% endblock %}