{% extends 'tutor/tutor_base.html' %}
{% block content %}
<body style="background-color: #000435; color: white;">
    <div class="container mt-3">
        <h1 class="text-center mb-4">{{ request.user.first_name }}'s Lessons</h1>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-left" style="font-size: 1.5rem; font-weight: 500; color: white;">
                <i class="bi bi-book-fill" style="font-size: 1.4rem; margin-right: 10px;"></i> Your Upcoming Lessons
            </h2>
          <div class="d-flex justify-content-end mb-3">
            <div class="btn-group">
                <button id="sort-button" class="btn btn-primary">Sort</button>
                <button 
                    type="button" 
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                >
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item">Date</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row bg-dark text-white text-center fw-bold">
                <div class="col">Student</div>
                <div class="col">ID</div>
                <div class="col">Subject</div>
                <div class="col">Date</div>
                <div class="col">Notes</div>
            </div>
            <div id="data-container">
                <!-- will add data here -->
            </div>
        </div>
        </div>
    </div>
</body>
{% endblock %}
