{% extends 'tutor_base.html' %}
{% block content %}
   
<body style="background-color: #000435; color: white;">
    <div class="container mt-3">
        <h1 class="text-center mb-4">{{ request.user.first_name }}'s Lessons</h1>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-left" style="font-size: 1.5rem; font-weight: 500; color: white;">
                <i class="bi bi-book-fill" style="font-size: 1.4rem; margin-right: 10px;"></i> Your Upcoming Lessons
            </h2>
            <a href="{% url 'lesson_create' %}" class="btn btn-success">
                <i class="fas fa-plus-circle"></i> Create a New Lesson
            </a>
        </div>
        
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">ID</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Date</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                    <tr>
                        <th scope="row">{{ lesson.student.username }}</th> <!-- need to change-->
                        <td>{{ lesson.student.id }}</td>
                        <td>{{ lesson.subject }}</td>
                        <td>{{ lesson.lesson_date }}</td>
                        <td>{{ lesson.notes }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No upcoming lessons</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock %}
