<style>
   .nav-link.active {
      background-color: #ffffff; 
      color: #000435 !important;
      border-radius: 5px;
  }

  .navbar-toggler {
      color: #ffffff;
      border-color: #ffffff;
  }

  .nav-link {
      color: #ffffff;
  }

  .nav-link:hover {
      color: #dddddd; 
  }
</style>
<nav class="navbar navbar-expand-lg" style="background-color: #000435;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'admin_welcome' %}">
      Management (Admin)
    </a>
    <button class="navbar-toggler" type="button" data-bs-target="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/admin/dashboard' %}active{% endif %}" href="{% url 'admin_dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/admin/lessons' %}active{% endif %}" href="{% url 'admin_lessons' %}">Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/admin/schedule' %}active{% endif %}" href="{% url 'admin_schedule' %}">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/admin/payment' %}active{% endif %}" href="{% url 'admin_payment' %}">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/users' %}active{% endif %}" href="{% url 'user_list' %}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/users' %}active{% endif %}" href="{% url 'admin_messages' %}">Messages</a>
        </li>
        </ul>
    </div>
      {% include 'partials/menu.html' %}
    <!-- omitted if statement temporarily-->
  </div>
</nav>

